<html>
    <head>
        <style>
            #grid {
            font-size: 0;
            margin: 0 0 10px 0;
            }
            #grid > ul {
            padding: 0;
            margin: 0;
            }
            #grid > ul > li {
            overflow: hidden;
            display: inline-block;
            width: 20px;
            height: 200px;
            margin: 0;
            }
            #grid > ul > li > ul {
            padding: 0;
            margin: 0;
            }
            #grid > ul > li > ul > li {
            border: 1px solid #fff;
            display: inline-block;
            width: 20px;
            height: 20px;
            overflow: hidden;
            cursor: url('pencil.png'),auto;
            background-color: #eee;
            }
            #palette li {
            height: 25px !important;
            width: 25px !important;
            margin: 2px !important;
            overflow: hidden;
            font-size: xx-small !important;
            border: 2px solid #808080;
            cursor: url('eyedropper.png'),auto;
            color: black;
            }
            textarea {
            font-family: monospace;
            font-size: small !important;
            display: block;
            margin: 0 0 10px 0;
            border: 1px solid black;
            }
            .activePalette {
            border: 2px solid coral !important;
            }
        </style>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body ng-app="exampleModule" ng-controller="exampleController as vm">
        <p class="p-20 font-sans text-2xl font-light tracking-wider text-center align-text-bottom">GitHub Contribution Map Configurator</p>
        <div ng-if="vm.width">
            <div class="p-10 flex justify-center">
                <div class="mx-3 mb-2 p-4 bg-white border border-gray-300">
                    How-To:
                </div>
                <table>
                    <tr>
                        <td>
                            <div id="grid">
                                <ul>
                                    <li ng-repeat="num in vm.iteratingArray"> <!--/////////////////////// Move into columns ////////////////////-->
                                        <ul>
                                            <li class="pixel" ng-style="{'background-color': vm.current_ColourArray[0][num]}" ng-click="vm.changeSquareColour(0, num)"></li>
                                            <li class="pixel" ng-style="{'background-color': vm.current_ColourArray[1][num]}" ng-click="vm.changeSquareColour(1, num)"></li>
                                            <li class="pixel" ng-style="{'background-color': vm.current_ColourArray[2][num]}" ng-click="vm.changeSquareColour(2, num)"></li>
                                            <li class="pixel" ng-style="{'background-color': vm.current_ColourArray[3][num]}" ng-click="vm.changeSquareColour(3, num)"></li>
                                            <li class="pixel" ng-style="{'background-color': vm.current_ColourArray[4][num]}" ng-click="vm.changeSquareColour(4, num)"></li>
                                            <li class="pixel" ng-style="{'background-color': vm.current_ColourArray[5][num]}" ng-click="vm.changeSquareColour(5, num)"></li>
                                            <li class="pixel" ng-style="{'background-color': vm.current_ColourArray[6][num]}" ng-click="vm.changeSquareColour(6, num)"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="justify-left align-top">
                            <div style="min-width: 40px !important; padding-top: 2px" class="px-6"> <!--/////////////////////// Move into columns ////////////////////-->
                                <ul id="palette">
                                    <li ng-style="{'background-color': vm.colourScheme[0]}" ng-click="vm.switchActiveColour(0)" id="palette0" class="activePalette">
                                        0
                                    </li>
                                    <li ng-style="{'background-color': vm.colourScheme[1]}" ng-click="vm.switchActiveColour(1)" id="palette1">
                                        1
                                    </li>
                                    <li ng-style="{'background-color': vm.colourScheme[2]}" ng-click="vm.switchActiveColour(2)" id="palette2">
                                        2
                                    </li>
                                    <li ng-style="{'background-color': vm.colourScheme[3]}" ng-click="vm.switchActiveColour(3)" id="palette3">
                                        3
                                    </li>
                                    <li ng-style="{'background-color': vm.colourScheme[4]}" ng-click="vm.switchActiveColour(4)" id="palette4">
                                        4
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="textArea" class="tracking-widest" ng-model="vm.current_NumberString" ng-style="{'min-width': vm.width*20, 'min-height': 140, 'padding-left': 5}"></textarea>
                        </td>
                        <td class="p-3 pl-6 text-sm">
                            <div class="flex justify-center">
                                <div class="bg-white border border-gray-300">
                                    <ul class="divide-y divide-gray-300">
                                        <li class="p-2 hover:bg-gray-50 cursor-pointer">
                                            <button ng-click="vm.randomizeSquareColour()" style="width: 100%; text-align: left;">Randomize</button>
                                        </li>
                                        <li class="p-2 hover:bg-gray-50 cursor-pointer">
                                            <button ng-click="vm.squareColourFromFile()" style="width: 100%; text-align: left;">From Script</button>
                                        </li>
                                        <li class="p-2 hover:bg-gray-50 cursor-pointer">
                                            <button ng-click="vm.clear()" style="width: 100%; text-align: left;">Reset</button>
                                        </li>
                                        <li class="p-2 hover:bg-gray-50 cursor-pointer">
                                            <button style="width: 100%; text-align: left;" disabled>Export</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="p-2 text-sm">
                            <div class="flex justify-center">
                                <div class="bg-white border border-gray-300">
                                    <button ng-click="vm.updateColourByText()" class="p-3 py-16 hover:bg-gray-50 cursor-pointer">Generate</button>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-if="!vm.width">
            <p class="p-2 font-sans text-md font-light text-center align-text-bottom">To start, enter the width you want to work with, the standard is 52</p>
            <div class="p-10 max-w-sm m-auto">
                <div class="flex border-grey-light border">
                    <input class="w-full rounded ml-1 focus:outline-none" type="text" ng-model="vm.widthString">
                    <button class="bg-grey-lightest border-grey border-l shadow hover:bg-grey-lightest" ng-click="vm.generate()">
                      <span class="w-auto flex justify-end items-center text-grey p-2 hover:text-grey-darkest">
                        <i class="bi bi-chevron-right"></i>
                      </span>
                    </button>
                  </div>
              </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module('exampleModule', [])
        app.controller("exampleController", function() {
            var vm = this;

            vm.demoArray = [
                [0,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,1,1],
                [0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1,0,1,1,1,3,3,4,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
                [1,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,2,2,0,0,0,0,1,1,3,3,4,4,4,3,1,1,1,4,1,1,1,1,2,0,0,0,0,3,1,1,1,0,0,0,0],
                [1,1,1,1,1,1,1,1,3,4,1,1,1,1,1,2,2,2,2,2,1,1,1,3,3,3,3,4,4,4,4,3,3,3,4,3,1,1,2,2,1,1,1,3,3,4,1,1,1,1,1,0],
                [1,1,1,1,1,1,3,3,4,4,4,4,1,2,2,2,2,2,2,2,2,2,3,3,3,3,4,4,4,4,4,3,3,3,4,4,3,2,2,2,2,1,3,3,3,4,4,4,3,1,1,1],
                [1,1,1,3,3,3,3,4,4,4,4,4,4,4,2,2,2,2,2,2,3,3,3,3,4,4,4,4,4,4,4,4,3,4,4,4,4,4,2,3,3,3,3,3,4,4,4,4,4,4,3,1],
                [1,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,2,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4]
            ]

            vm.colourScheme = ['ebedf0', '9be9a8', '40c463', '30a14e', '215e39']

            vm.width = 0;
            vm.widthString = '';
            vm.iteratingArray = [];
            vm.current_ColourArray = [];
            vm.current_NumberArray = [];
            vm.current_NumberString = '';
            vm.current_SelectedColour = 0;
            
            vm.convertStringToArray = function (stringToBeConverted) {
                try {
                    return JSON.parse(stringToBeConverted);
                }
                catch {
                    console.log("Unable to convert literal string to number array.")
                }
            }

            vm.convertArrayToString = function (arrayToBeConverted) {
                try {
                    var stringToBeReturned = '[';
                    for (let i=0; i<arrayToBeConverted.length; i++) {
                        if (i == arrayToBeConverted.length-1) {
                            stringToBeReturned += "["+arrayToBeConverted[i]+"]]";
                        }
                        else {
                            stringToBeReturned += "["+arrayToBeConverted[i]+"],\n";
                        }
                    }
                    return stringToBeReturned;
                }
                catch {
                    console.log("Unable to convert number array to literal string.");
                }
            }

            vm.convertNumberToColourMap = function (arrayToBeConverted) {
                try {
                    var arrayToBeReturned = JSON.parse(JSON.stringify(arrayToBeConverted));
                    for (let i=0; i<arrayToBeConverted[0].length; i++) {
                        for (let j=0; j<arrayToBeConverted.length; j++) {
                            arrayToBeReturned[j][i] = vm.convertNumberToColour(arrayToBeConverted[j][i]);
                        }
                    }
                    return arrayToBeReturned; 
                }
                catch {
                    console.log("Unable to convert number array to colour map.");
                } 
            }

            vm.convertNumberToColour = function (numberToBeConverted) {
                switch(numberToBeConverted) {
                    case 1:
                        return vm.colourScheme[1];
                    case 2:
                        return vm.colourScheme[2];
                    case 3:
                        return vm.colourScheme[3];
                    case 4:
                        return vm.colourScheme[4];
                    default:
                        return vm.colourScheme[0];
                }
            }

            vm.generate = function () {
                try {
                    vm.width = parseInt(vm.widthString);
                    for (let i=0; i<vm.width; i++) {
                        vm.iteratingArray.push(i);
                    }
                    vm.current_NumberArray = Array.from(Array(7), _ => Array(vm.width).fill(0));
                    vm.current_NumberString = vm.convertArrayToString(vm.current_NumberArray);
                    vm.current_ColourArray = vm.convertNumberToColourMap(vm.current_NumberArray);                 
                } 
                catch {
                    console.log("Didn't enter positive integer number.");
                }
            }

            vm.switchActiveColour = function(colourNumber) {
                try {
                    document.getElementById("palette"+vm.current_SelectedColour).classList.remove("activePalette");
                    vm.current_SelectedColour = colourNumber;
                    document.getElementById("palette"+ vm.current_SelectedColour).classList.add("activePalette");
                }
                catch {
                    console.log("Unable to change colours??")
                }
            }

            vm.changeSquareColour = function(row, column) {
                try {
                    vm.current_NumberArray[row][column] = vm.current_SelectedColour;
                    vm.current_NumberString = vm.convertArrayToString(vm.current_NumberArray);
                    vm.current_ColourArray = vm.convertNumberToColourMap(vm.current_NumberArray);
                }
                catch {
                    console.log("Didn't click on a square???? or something");
                }
            }
            
            vm.randomizeSquareColour = function () {
                try {
                    for (let i=0; i<vm.current_NumberArray[0].length; i++) {
                        for (let j=0; j<vm.current_NumberArray.length; j++) {
                            vm.current_NumberArray[j][i] = Math.floor(Math.random() * 5);
                        }
                    }
                    vm.current_NumberString = vm.convertArrayToString(vm.current_NumberArray);
                    vm.current_ColourArray = vm.convertNumberToColourMap(vm.current_NumberArray);
                }
                catch {
                    console.log("something went wrong colouring all these squares");
                }
            }

            vm.squareColourFromFile = function () {
                try {
                    for (let i=0; i<vm.current_NumberArray.length; i++) {
                        vm.current_NumberArray[i] = JSON.parse(JSON.stringify(vm.demoArray[i].slice(0, vm.width)));
                    }
                    vm.current_NumberString = vm.convertArrayToString(vm.current_NumberArray);
                    vm.current_ColourArray = vm.convertNumberToColourMap(vm.current_NumberArray);
                }
                catch {
                    console.log("something went wrong with the array file.");
                }
            }

            vm.updateColourByText = function () {
                try {
                    vm.current_NumberArray = vm.convertStringToArray(vm.current_NumberString);
                    vm.current_ColourArray = vm.convertNumberToColourMap(vm.current_NumberArray);
                }
                catch {
                    console.log("something went wrong with generating new version.");
                }
            }
            
            vm.clear = function () {
                vm.width = 0;
                vm.widthString = '';
                vm.iteratingArray = [];
                vm.current_ColourArray = [];
                vm.current_NumberArray = [];
                vm.current_NumberString = '';
                vm.current_SelectedColour = 0;
            }

        })
    </script>

</html>
